html {
    border-top: 3px solid red;
}

body {
    color: black;
    background: white;
    --font-size: 20px;
    --line-height: 34px;
    font: var(--font-size)/var(--line-height) Georgia, serif;
    margin: 0 16px;
}

main {
    max-width: 580px;
    margin: 0 auto;
}

a {
    color: blue;
}

h1,
h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 180%
}

h2 {
    font-size: 120%;
    border-bottom: 3px solid;
}

:lang(mr) {
    color: red;
    --mr-font-size: 24px;
    font-size: var(--mr-font-size);
    line-height: calc(var(--line-height) - (var(--mr-font-size) - var(--font-size)));
}